extends ./_layouts/horoscope

block horoscope_content
  .report-head
  .page-title
    .pull-right
      .social-likes(data-url=site.head.canonical)
        each item in config.shareDataServices
          div(class=item)
    h1= title
    h2.sub-title
      = subTitle
    br

  if (currentReports)
    each item in currentReports
      +horoscopeReport(item, currentDate)
