mixin horoscopeReport(report, date)
  .report.clearfix
    .report-head
      .zs(class=('zs-'+report.sign))
      h4= __('sign_'+report.sign)
    .report-body
      != util.encodeReportText(report.text)
