extends ./layout

include ../_includes/mixins

block content
  .row
    //- center content
    .col-md-8
      if (location && location.length>1)
        #user-location
          for item, i in location
            a(href=item.href)= item.text
            if (i < location.length - 1)
              ='  › '
      block horoscope_content
      //- br
      //- .ads-block.text-center
      //-   include ../_includes/ad-bottom
      br
      br
    //- right content
    #page-content-right.col-md-4
      block right_content_top
      if (latestStories && latestStories.length>0)
        .group.view-stories
          .group-title
            h4= __('latest_news')
          .group-content
            .list.ot-news
              each story, i in latestStories
                if (i < 4)
                  .list-item
                    .item.ot-news.clearfix
                      a.media(href='http://'+Links.getHost('news', currentCulture.country)+ links.news.story(story.uniqueName, story.id))
                        .media-left
                          img.media-object(alt='', src=(Links.cdn.wi.stories('square', story.imageId)))
                        .media-body= story.title

      block right_content_bottom
      .group.hidden-xs!= config.socialPluginsHtmlCode
