doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head(runat='server')
    title Weather Widget
    style(type='text/css').
      *,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
      body{background-color:transparent;font-size:.75em;font-family:Arial, Helvetica, Sans-Serif;margin:0;padding:0;color:#848484;}
      
  body
    #widget
      #inner
        #signs
          each item in signs
            i.si(class='s'+item.id)
        #summary
      #footer
    script(src='http://localhost:8044/js/horoscope/tab-widget-v1.js')
    script.
      OURNET.horo.createTabWidgetsV1({signs:'#{JSON.stringify(signs)}'},{wc:'tab-widget'})